* {
  padding: 0;
  margin: 0;
  font-family: Inknut Antiqua, serif;
}

body {
  background-color: rgb(236, 236, 236);
}

.header {
  background-color: rgb(50, 167, 145);
  padding: 3px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: auto;
}

.header img {
  width: 70px;
}

.header h1 {
  color: white;
}

.trybewarts-login {
  display: flex;
  gap: 5px;
}

.trybewarts-login input {
  width: 180px;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  border: 0;
}

.trybewarts-login button {
  width: 80px;
  margin-left: 15px;
  border-radius: 10px;
  border: 0;
}

.main {
  display: flex;
}

.main form {
  gap: 3px;
  width: 675px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main img {
  height: 500px;
}

.evaluation-form-container {
  text-align: center;
}

.evaluation-form-container input {
  width: 40%;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 0 5px black;
}

.evaluation-form-container select {
  width: 32.5%;
  background-color: white;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 0 5px black;
}

.evaluation-form-radio {
  width: 50%;
}

.evaluation-form-checkbox {
  width: 50%;
}

.selectors {
  display: flex;
  margin-left: 30px;
}

/* .evaluation-form-checkbox-sub {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
} */
