* {
  padding: 0;
  margin: 0;
  font-family: Inknut Antiqua, serif;
}

.header {
  background-color: rgb(50, 167, 145);
  padding: 3px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: auto;
}

.header img {
  width: 70px;
}

.header h1 {
  color: white;
}

.trybewarts-login {
  display: flex;
  gap: 5px;
}

.trybewarts-login input {
  width: 180px;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  border: 0;
}

.trybewarts-login button {
  width: 80px;
  margin-left: 15px;
  border-radius: 10px;
  border: 0;
}

.main {
  display: flex;
}

.main form {
  width: 675px;
  display: flex;
  flex-direction: column;
}
